# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [1]:
#*  :- Multiplication Operator
#'hello'  :- string
#-87.8   :- Float
#-   :- Subtraction Operator
#/   :- Division Operator
#+   :- Summation operator
#6   :- Integer

# 2. What is the difference between string and variable?

In [2]:
# A string is a data type, which can contain any type of charater, be its alphabet or numeric or special character. It is immutable.
# A Variable is a function type that are use to store different type of  data. A variable can be a string, integer, float or complex

# 3. Describe three different data types.

In [3]:
# 1. String: String is a data type, which can contain any type of charater, be its alphabet or numeric or special character. It is immutable.the values are always under double quotes. Eg: str1 = "My name is Shivani." 
# 2. Integer: Integer takes numerical values only, with whole number. It does not accept decimal values.the values are not under double or single quotes. Eg: int1 = 23.
# 3. Float: Float represents numerical values which can have decimal. eg. flt1 = 23.00 , or flt2 = 45.89.

# 4. What is an expression made up of? What do all expressions do?

In [6]:
# Expressions made up of Mathematical operators such as:
# +  :- it adds the values.eg:
a = 12+3
print(f"Addition: {a}")
# -  :- it subtracts the values.eg:
b = 12-3
print(f"Subtraction: {b}")
# *  :- it multiplies the values.eg:
c = 12*3
print(f"Multiplication: {c}")
# /  :- it divides the values and gives Quotient.eg:
d = 12/3
print(f"Division: {d}")
# ** :- it raises the power to the given number.eg:
e = 12**2
print(f"Square of12: {e}")
# //  :- it gives remainder of the division.eg:
f = 12//3
print(f"Remainder: {f}")

Addition: 15
Subtraction: 9
Multiplication: 36
Division: 4.0
Square of12: 144
Remainder: 4

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [7]:
# In an expression, we can apply operations and can change or reduce the value. 
#But a statement is something which is fixed and we cannot apply any operations on it.

# 6. What is the difference between an expression and a statement?

In [8]:
bacon = 22
bacon + 1

23

# 7. What should the values of the following two terms be?

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [11]:
# 'eggs' is valid variable name because it starts with the alphabet character, which satisfies the condition to be a variable.
# while '100' is a whole numerical value which does not satisfies the rule for being a variale. But, 'egg100' can be a valid variable.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
# for integer :- int
# for floating-point number :- float
# for string  :- str

# 10. Why does this expression cause an error? How can you fix it?

In [13]:
# given expression:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [14]:
# the above expression gives an error because mathematical operations do not operate on different types of data types together.
# here, operation is done for concatination of string data type with integer data type. due to which it is giving error.
# Solution:  converting integer value to a string.

In [15]:
# correct expression:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'